{% extends "network/layout.html" %}

{% block body %}

<div id="initial"></div>

{% if user.is_authenticated %}
<div id="compose"></div>
{% endif %}


<div id="timeline"></div>


<script type="text/babel">

  class Timeline extends React.Component {
    constructor(props) {
      super(props)
      this.state = {
        userposts: [],
      };
    }
    state = {
      mssg: ""
    };

    likePost = (event) => {
      console.log("liked the post")
      console.log(event.target.value)
      //Send like to backend. Try to update visible likes.
      fetch('/likes', {
        method: 'POST',
        body: JSON.stringify({
          post: event.target.value,
        })

      })
        .then(response => response.json())
        .then(result => {
          console.log(result)
          this.listposts()
        })
    }

    goToProfile = (event) => {
      console.log(event.target.value)

      window.location.replace("profilePage/" + event.target.value);
      return;
    }

    followUser = (event) => {
      console.log(event.target.value)
      fetch("follow/" + event.target.value)
        .then(response => response.json())
        .then(result => {
          console.log(result)
        })
    }

    unFollowUser = (event) => {
      console.log(event.target.value)
      fetch("unfollow/" + event.target.value)
        .then(response => response.json())
        .then(result => {
          console.log(result)
          this.listposts()
        })
    }

    render() {
      return (
        this.state.userposts.map(post => (
          < div
            key={post.id}>
            <ul className="list-group-item list-group-item-action" >
              <button onClick={this.goToProfile} value={post.user_id}>See Profile: {post.user}</button>
              <button onClick={this.followUser} value={post.user_id}>Follow: {post.user}</button>
              <button onClick={this.unFollowUser} value={post.user_id}>Unfollow: {post.user}</button>
              <p>{post.content}</p><p>{post.timestamp}</p><p>Likes: {post.likes}</p>
              <button onClick={this.likePost} value={post.id}>Like</button>
            </ul>
          </div >
        ))
      );
    }

    listposts = (event) => {
      let userposts = []
      // Fazer um fetch e chamar o show posts
      fetch('/followingList')
        .then(response => response.json())
        .then(data => {
          this.updateUserpost(data)

          console.log("List Posts")

          console.log(data)
        });
    }

    updateUserpost = (userpost) => {
      this.setState({ userposts: userpost })
    }

    checkFollow = (event) => {
      console.log("entered the checkFollow")
    }

    componentDidMount() {
      return this.listposts()
    }
  }


  ReactDOM.render(<Timeline />, document.querySelector('#initial'));

</script>
{% endblock %}