{% extends "network/layout.html" %}

{% block body %}

<div id="initial"></div>

{% if user.is_authenticated %}
<div id="compose"></div>

{% endif %}

<div id="timeline"></div>

<script type="text/babel">

    class Timeline extends React.Component {

        constructor(props) {
            super(props)
            this.state = {
                userposts: [],
                page: "?page=1",
                pagenumber: 1,
                msg: "",
            };
        }

        render() {
            return (
                <div id="timeline-room">
                    {this.state.userposts.map(post => (
                        < div className="list-group-item list-group-item-action"
                            key={post.id}>
                            <div id="postlist"></div >
                            <ul >
                                <div >{post} </div>
                            </ul>
                        </div >
                    )

                    )
                    }
                    <h1>
                        {this.state.pagenumber > 1 &&
                            <button onClick={this.prevPage}><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
                            </svg></button>}
                        PAGE {this.state.pagenumber}
                        {this.state.userposts.length == 10 &&
                            <button onClick={this.nextPage}><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
                            </svg></button>}

                    </h1>
                </div>

            )
        }

        nextPage = async (event) => {
            var newPagenumber = this.state.pagenumber + 1
            if (this.state.userposts.length < 10) {
                newPagenumber = newPagenumber - 1
            }
            await this.setState({ pagenumber: newPagenumber, page: '?page=' + newPagenumber })
            await this.updatePage()
        }
        prevPage = async (event) => {
            var newPagenumber = this.state.pagenumber - 1
            if (newPagenumber < 1) {
                newPagenumber = 1
            }
            await this.setState({ pagenumber: newPagenumber, page: '?page=' + newPagenumber })
            await this.updatePage()
        }

        updatePage = () => {
            this.listposts()
        }


        listposts = (event) => {
            // Fazer um fetch e chamar o show posts
            fetch('/showposts' + this.state.page)
                .then(response => response.json())
                .then(data => {
                    this.updateUserpost(data.map((data) => {
                        return (
                            <li key={data.id} className="list-group-item list-group-item-action">
                                {data.user} <p>{data.content}</p><p>{data.timestamp}</p>
                                <p>Likes: {data.likes}</p>
                            </li>
                        );
                    }));
                    console.log("List Posts")
                    console.log(data)
                });
        }

        updateUserpost = (userpost) => {
            this.setState({ userposts: userpost })
        }

        checkFollow = (event) => {
            console.log("entered the checkFollow")
        }

        componentDidMount() {
            return this.listposts()
        }
    }

    function Compose() {
        const [postuser, setPostUser] = useState('')
        const [content, setContent] = useState('')

        const contentUpdater = () => {
            console.log("Tracker funcionando")
            setContent(event.target.value)
        }

        const submitButtonPress = (event) => {
            console.log("button Clicked");
            console.log(`Content: ${content}`);
            //userr irrelevante já q adiciono o user pelo request no view em python;
            const userr = document.querySelector('#userr').innerHTML;
            const contentt = content;
            console.log(userr)
            console.log("entenred the saving post")
            fetch('/posts', {
                method: 'POST',
                body: JSON.stringify({
                    //postuser desnecessario ja q eu adiciono usuario no view em python com um request.user
                    postuser: userr,
                    content: contentt,
                })
            })
                .then(response => response.json())
                .then(result => {
                    console.log(result)
                    if (result.message === "Post sent successfully.") {
                        console.log("entered the submit if")
                        setContent('')
                        window.location.reload(false);
                    }
                });
        }

        return (
            <div className="list-group-item list-group-item-action">
                <div><h2>Post:</h2></div>
                <div><input id='content' size="100" type="text" onChange={contentUpdater} value={content} /></div>
                <div><input onClick={submitButtonPress} value='Submit' type="button" /></div>
            </div>

        );
    }

    class Initial extends React.Component {
        render() {
            return (
                <div>
                    {!(document.getElementById("userr").innerHTML == "No User Loggedin") && <Compose />}

                    <Timeline />
                </div>
            );
        }
    }

    ReactDOM.render(<Initial />, document.querySelector('#initial'));

</script>
{% endblock %}