{% extends "network/layout.html" %}

{% block body %}



<div id="initial"></div>

<script type="text/babel">

  class Userprofile extends React.Component {
    constructor(props) {
      super(props)
      this.state = {
        profile: [],
        user_id: props.user_id,
      };
    }

    render() {
      return this.state.profile;
    }

    followUser = (event) => {
      console.log(event.target.value)
      fetch("/follow/" + event.target.value)
        .then(response => response.json())
        .then(result => {
          console.log(result)
          this.profile1()
        })
    }

    unfollowUser = (event) => {
      console.log(event.target.value)
      fetch("/unfollow/" + event.target.value)
        .then(response => response.json())
        .then(result => {
          console.log(result)
          this.profile1()
        })
    }

    // make a fetch to the server and get the request.user and display their info.
    profile1 = async () => {
      console.log("entrou")
      const response = await fetch('/profile/' + this.state.user_id)
      const mappingProfile = await response.json();
      console.log(mappingProfile[0])// object with data of the user.

      this.updateUserProfile(mappingProfile.map((data) => {
        console.log(data.user_id)
        return (
          <li key={data.user_id} className="list-group-item list-group-item-action">
            <div><h2> USER PROFILE: </h2></div>
            <div>
              <h3> Username: {data.user} <p>Email: {data.email}</p>
                <p>Date joined: {data.date_joined}</p>
                {!data.userHimself &&
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>}
                {!data.userHimself &&
                  <button onClick={this.followUser} value={data.user_id}>Follow </button>}
                {!data.userHimself &&
                  <button onClick={this.unfollowUser} value={data.user_id}>Unfollow</button>}

                <p>Following: {data.following}</p>
                <p>Followers: {data.followers}</p>
              </h3>
            </div>
          </li >
        );
      }));
    }

    componentDidMount() {
      return this.profile1()
    }

    updateUserProfile = (profile) => {
      this.setState({ profile: profile })
    }


  }

  class ProfileTimeline extends React.Component {
    constructor(props) {
      super(props)
      this.state = {
        userposts: [],
        user_id: props.user_id,
        page: "?page=1",
        pagenumber: 1,
      };
    }
    state = {
      mssg: ""
    };

    likePost = (event) => {
      console.log("liked the post")
      console.log(event.target.value)
      //Send like to backend. Try to update visible likes.
      fetch('/likes', {
        method: 'POST',
        body: JSON.stringify({
          post: event.target.value,
        })

      })
        .then(response => response.json())
        .then(result => {
          console.log(result)
          this.listposts()
        })
    }

    goToProfile = (event) => {
      console.log(event.target.value)

      window.location.replace("profilePage/" + event.target.value);
      return;
    }


    render() {
      return (
        this.state.userposts.map(post => (
          < div
            key={post.id}>
            <ul className="list-group-item list-group-item-action" >
              Profile: {post.user}
              <p>{post.content}</p><p>{post.timestamp}</p><p>Likes: {post.likes}</p>
              <button onClick={this.likePost} value={post.id}>Like</button>
            </ul>
          </div >
        ))
      );
    }

    listposts = (event) => {
      // Fazer um fetch e chamar o show posts
      fetch('/showPostsProfile', {
        method: 'POST',
        body: JSON.stringify({
          userProfile: this.state.user_id,
        })

      })
        .then(response => response.json())
        .then(data => {
          this.updateUserpost(data)
          console.log("List Posts")
          console.log(data)
        });
    }

    updateUserpost = (userpost) => {
      this.setState({ userposts: userpost })
    }

    componentDidMount() {
      return this.listposts()
    }
  }


  class Initial extends React.Component {
    render() {
      return (
        <div>
          <Userprofile user_id='{{user_id}}' ></Userprofile >
          <ProfileTimeline user_id='{{user_id}}' />
        </div>
      );
    }
  }

  ReactDOM.render(<Initial />, document.querySelector('#initial'));

</script>
{% endblock %}