{% extends "network/layout.html" %}

{% block body %}



<div id="initial"></div>

<script type="text/babel">

  function ProfileUpdater(props) {
    //const [profile, setProfile] = useState('');
    console.log("Profile updater  ")
    profile1 = Userprofile.map(profile => <h1>profile updater? {profile.user}</h1>)
    return profile;
  }

  function Userprofile(props) {
    const [profile, setProfile] = React.useState([]);
    // make a fetch to the server and get the request.user and display their info.
    const profile1 = async () => {
      const response = await fetch('/profile/' + props.user_id)
      const mappingProfile = await response.json();

      console.log("entered async function in Userprofile")

      //let profile2 = (<h1>{profile.user}  {profile.email}</h1>)
      setProfile(mappingProfile.user)
      //.then(response => response.json())
      //.then(result => {
      //console.log(result)
      //setProfile(result)
      //setProfile(result)
      //return result;
      //});
    };
    profile1();
    console.log(profile)
    console.log("User Profile and stuff")
    return <h1>profile updater? {profile}</h1>;

  }

  class Initial extends React.Component {
    render() {
      return (
        <div>
          <Userprofile user_id='{{user_id}}' ></Userprofile >
          <dir>PROFILE PAGE {{ user_id }}</dir>
        </div>
      );
    }
  }

  ReactDOM.render(<Initial />, document.querySelector('#initial'));

</script>
{% endblock %}