{% extends "network/layout.html" %}

{% block body %}


<div id="userlistpage"></div>


<script type="text/babel">

  class Userlists extends React.Component {
    constructor(props) {
      super(props)
      this.state = {
        userlist: [],
      };
    }

    render() {
      return (
        this.state.userlist.map(user1 => (
          <ul key={user1.id}>
            <div>{user1}</div>
          </ul>
        )))
    }

    componentDidMount() {
      return this.listusers()
    }

    followUser = (event) => {
      console.log(event.target.value)
      fetch("follow/" + event.target.value)
        .then(response => response.json())
        .then(result => {
          console.log(result)
        })
    }

    unfollowUser = (event) => {
      console.log(event.target.value)
      fetch("unfollow/" + event.target.value)
        .then(response => response.json())
        .then(result => {
          console.log(result)
        })
    }


    listusers = () => {
      let userlist1 = []
      console.log("entering listusers")
      fetch('/userlist')
        .then(response => response.json())
        .then(data => {
          console.log("list users");
          console.log(data);
          this.updateUserList(data.map((data) => {
            return (
              <li key={data.id} className="list-group-item list-group-item-action">
                {data.user}
                <div>Joined: {data.date_joined}</div>
                <div>{data.email}</div>
                <button onClick={this.followUser} value={data.user_id}>Follow</button>
                <button onClick={this.unfollowUser} value={data.user_id}>Unfollow</button>
              </li>
            )
          }))
        });
    }
    updateUserList = (userlist1) => {
      this.setState({ userlist: userlist1 })
    }


  }

  ReactDOM.render(<Userlists />, document.querySelector('#userlistpage'));
</script>

{% endblock %}