/* nothing works, didn't find the reason why. */

/* body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
#timeline-room {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
body {
  background-color: #282c34;
  text-align: center;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.list-group-item {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
} */
